:root {
    --primary-color: #008EF5;
    --secondary-color: #9914FF;
    --primary-font-color: #262626;
    --secondary-font-color: #fff;
    --primary-btn-color: #e42527;
    --primary-bg: #F5F3FF;
    --secondary-bg: #EEF4FF;
    --teritary-bg: #F8F9FC;
    --fourth-bg: #F8F9FC;
}

/* banner section */

.banner-section .content-wrap {
    text-align: center;
    padding: 54px 0px;
}

.banner-section .content-wrap h1 {
    font-size: 43px;
    line-height: 50px;
    color: var(--primary-font-color);
    font-family: var(--primaryfont-bold);
}

.banner-section .content-wrap p {
    font-size: 19px;
    line-height: 32px;
    color: var(--primary-font-color);
    font-family: var(--primaryfont-regular);
    margin: 24px 0px 24px;
}

/* Banner section image */
.image-wrapper {
    background-image: url("/sites/zweb/images/analytics/feature/banner-bg-sub-page.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 30px 0px 0px;
    overflow: hidden;
    height: 705px;
}

.image-wrapper img {
    margin-bottom: -9px;
    border-radius: 12px 12px 0px 0px;
}


/* banner sign up form styles */
body.umain .cta-btn {
    display: inline-block;
}

.cta-btn {
    display: none;
}

body.umain .dwnload-btn {
    display: none
}

.dwnload-btn {
    background: var(--primary-btn-color);
    color: #fff;
    padding: 13px 30px;
    border-radius: 4px;
    font-size: 17px;
}

.formSec {
    width: 100%;
    overflow: auto;
    max-width: 480px;
    position: fixed;
    transform: translateX(120%);
    -webkit-transform: translateX(120%);
    right: 0;
    top: 0;
    z-index: 0;
    -webkit-box-shadow: -7px 0 28px 0 rgba(0, 0, 0, 0.46);
    -moz-box-shadow: -7px 0 28px 0 rgba(0, 0, 0, 0.46);
    box-shadow: -7px 0 28px 0 rgba(0, 0, 0, 0.46);
    height: 100%;
    background: #fff;
    opacity: 0
}

.freeze_layer {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 999;
    display: none
}

.active_freaze {
    display: block
}

.zoverlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background: rgba(0, 0, 0, 0.5);
    display: none
}

.formSec.active {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    z-index: 9999999999999;
    opacity: 1
}

.formInner {
    border-left: 1px solid #ddd;
    padding: 35px 20px;
    background: #fff;
    box-sizing: border-box;
    height: auto;
    text-align: left
}

.formInner h4 {
    margin-bottom: 5px
}

.formInner span {
    margin-bottom: 15px;
    display: inline-block
}

.form-close {
    background: url(/sites/zweb/images/close-icon.png) no-repeat;
    width: 18px;
    height: 18px;
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
    background-size: 17px;
    opacity: .6
}

.formSec .signup-box {
    max-width: 100%
}

/* Truested icon styles */
.trusted-icon-wrap {
    padding: 20px 10px;
    overflow: hidden;
    height: 140px
}

.trust-icon-wrap {
    overflow: hidden;
    display: flex
}

.trust-icon .ae-icon {
    margin: 0 150px 0 0;
    font-size: 0;
    display: inline-flex;
    text-align: center;
    align-items: center;
    float: none;
    min-height: 100px;
    vertical-align: top
}

/* Numbers counts styles */
.za-cust-counts ul {
    display: flex;
    max-width: 532px;
    margin: 15px auto 70px;
    text-align: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 117px;
    padding: 30px 20px 20px;
    border-width: 1px 1px 0 1px;
    border-style: solid;
    border-color: var(--secondary-color);
    box-shadow: 0 4px 22px 0 #00000017;
}

.za-cust-counts ul>li {
    width: 40%;
    position: relative
}

.za-cust-counts ul>li p {
    margin: 0;
    font-size: 20px
}

.za-cust-counts ul>li>span {
    font-size: 50px;
    line-height: 50px;
    font-family: var(--zf-primary-semibold);
}

.za-cust-counts ul>li>span:after {
    content: '+';
    font-family: var(--zf-primary-extralight)
}

.za-cust-counts ul>li:not(:first-child):before {
    content: '';
    position: absolute;
    width: 1px;
    height: 50%;
    background: #601d1c;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 0;
    opacity: .2
}

/* sticky scroll styles */
.scroll-section {
    background-image: url("/sites/zweb/images/analytics/feature/scroll-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 65px 0px;
    background-attachment: fixed;

}

.scroll-section h2,
.box-icon-section h2 {
    text-align: center;
    font-size: 35px;
    line-height: 1.3;
    color: var(--primary-font-color);
    font-family: var(--primaryfont-semibold);
    width: 60%;
    margin: auto;
}

.scroll-section h2 {
    transform: translateY(50px);
    transition: transform .5s ease, opacity .5s ease;
}

.scroll-section h2 span,
.scroll-wrapper h3 span,
.box-icon-section h2 span {
    background-image: linear-gradient(47deg, #000000 0%, var(--primary-color) 0%, var(--secondary-color) 60%);
    background-clip: text;
    color: transparent;
}

.scroll-wrapper .scroll-image-wrapper {
    display: none;
}

.sections {
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 58vh;
    padding-right: 60px;
    opacity: 0.2;
    transform: scale(1);
    filter: brightness(0.5);
    transition: opacity 0.5s ease, transform .5s ease-in-out, filter 0.5s ease;
}

.sections.fade-in {
    opacity: 1;
    transform: scale(1.08);
    filter: brightness(1);
}

.scroll-wrapper {
    display: flex;
    justify-content: space-between;
    position: relative;
    max-width: 1180px;
    margin-top: 70px;
}

.image {
    width: 100%;
    transition: opacity 0.2s ease-in-out;
    border-radius: 12px 0px 0px 12px;
}

.scroll-section .sections-container {
    width: 45%;
}

.scroll-section .scroll-images {
    flex: 1;
    background-image: url('/sites/zweb/images/analytics/integrate-bg.png');
    border-radius: 8px;
    padding: 40px 0px 40px 35px;
    box-sizing: border-box;
    position: sticky;
    top: 12%;
    height: 700px;
    background-size: cover;
    display: flex;
    align-items: center;
}

.scroll-wrapper h3 {
    font-size: 30px;
    line-height: 35px;
    font-family: var(--primaryfont-semibold);
    margin: 0px 0px 15px;
}

.scroll-wrapper p {
    font-size: 20px;
    line-height: 30px;
}

.scroll-images .image-container{
    transition: all 1s;
}

/* Key features styles */
.box-icon-section {
    padding: 80px 0;
    text-align: center;
}

.box-icon-section .heading-desc {
    font-size: 20px;
    width: 46%;
    display: inline-block;
    margin-top: 10px;
    font-family: var(--primaryfont-regular);
    line-height: 30px;
}

.box-icon-section .content-main,
.icon-border-section .content-main {
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
    column-gap: 20px;
    row-gap: 40px;
}

.box-icon-section .content-main .card,
.icon-border-section .content-main .card {
    width: calc(32% - 8px);
    margin: auto;
    transition: transform 1s ease;
    transform: translateY(50px);
}

.box-icon-section .content-main .card .za-icon-wrapper {
    background-image: url('/sites/zweb/images/analytics/feature/za-key-features-icon.png');
    width: 50px;
    height: 50px;
    display: inline-block;
    background-size: cover;
    margin-bottom: 10px;
}

.box-icon-section .content-main .card:nth-child(2) .za-icon-wrapper {
    background-position: -64px 0px;
}

.box-icon-section .content-main .card:nth-child(3) .za-icon-wrapper {
    background-position: -126px 0px;
}

.box-icon-section .content-main .card:nth-child(4) .za-icon-wrapper {
    background-position: -190px 0px;
}

.box-icon-section .content-main .card:nth-child(5) .za-icon-wrapper {
    background-position: -250px 0px;
}

.box-icon-section .content-main .card:nth-child(6) .za-icon-wrapper {
    background-position: -312px 0px;
}

.box-icon-section .content-main .card h4 {
    font-size: 20px;
    margin: 20px 0px 15px;
    font-family: var(--primaryfont-semibold);
}

.box-icon-section .content-main .card p {
    font-size: 17px;
    line-height: 25px;
}

.box-icon-section .button-wrapper a {
    background-image: linear-gradient(45deg, var(--primary-color), var(--secondary-color));
    padding: 15px 20px;
    border-radius: 5px;
    color: var(--secondary-font-color);
    font-family: var(--zf-secondary-medium);
    text-decoration: none;
    font-size: 18px;
    display: inline-block;
    margin-top: 40px;
    transition: .5s ease-out;
}

.box-icon-section .button-wrapper a .arrow,
.testimonials-section .content-wrap a .arrow {
    border: solid #fff;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    margin-left: 10px;
    animation: translate 1s;
}

.box-icon-section .button-wrapper a:hover {
    box-shadow: 0px 2px 15px 0px #0000004a;
}

/* AI data visualization styles */
.icon-border-section {
    background-image: url('/sites/zweb/images/analytics/feature/data-visualization-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 50px 0px;
    background-color: #262626;
}

.icon-border-section .content-wrap {
    max-width: 1180px;
}

.icon-border-section h2 {
    text-align: center;
    font-size: 35px;
    line-height: 50px;
    color: var(--secondary-font-color);
    font-family: var(--primaryfont-semibold);
    margin: 0px 0px 15px;
}

.icon-border-section .heading-desc {
    font-size: 20px;
    width: 50%;
    margin: 0px auto;
    font-family: var(--primaryfont-regular);
    line-height: 30px;
    color: var(--secondary-font-color);
    text-align: center;
    display: block;
}

.icon-border-section .content-main .card {
    background-color: #444444;
    border-radius: 16px;
    padding: 60px 18px 15px;
    text-align: center;
    position: relative;
    margin: 0;
}

.icon-border-section .content-main .card h3 {
    font-size: 22px;
    margin: 0px 0px 15px;
    font-family: var(--primaryfont-semibold);
    color: var(--secondary-font-color);
}

.icon-border-section .content-main .card p {
    color: var(--secondary-font-color);
    font-size: 17px;
    line-height: 25px;
}

.icon-border-section .content-main .card::before {
    content: "";
    position: absolute;
    background-image: url('/sites/zweb/images/analytics/feature/za-sub-pages-icons.png');
    width: 55px;
    height: 55px;
    top: -33px;
    background-color: #666666;
    background-size: cover;
    border-radius: 12px;
    left: 162px;
}

.icon-border-section .content-main .card.card2::before {
    background-position: -58px 0px;
}

.icon-border-section .content-main .card.card3::before {
    background-position: -118px 0px;
}

.icon-border-section .content-main {
    margin-top: 100px;
    column-gap: 15px;
    justify-content: center;
}

/* Testimonials styles */

.zwc-nav-scroll-section {
    overflow: hidden;
    position: relative;
    z-index: 2;
    margin-top: 60px;
}

.zwc-nav-scroll-section>div:first-child {
    display: flex
}

@keyframes marquee {
    0% {
        transform: translateX(0)
    }

    100% {
        transform: translateX(-100%)
    }
}

.zwc-nav-box-wrap {
    display: flex;
    gap: 20px;
    animation: 45s linear 0s infinite normal none running marquee;
    padding-right: 20px;
    flex: 1;
}

.zwc-nav-scroll-section>div:hover .zwc-nav-box-wrap {
    animation-play-state: paused
}

.zwc-nav-box {
    padding: 25px;
    min-width: 384px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 8px;
    flex: 1;
}

.zwc-nav-box:nth-child(1) {
    background-color: #7F56D9
}

.zwc-nav-box:nth-child(2) {
    background-color: #079455
}

.zwc-nav-box:nth-child(3) {
    background-color: #1570EF
}

.zwc-nav-box:nth-child(4) {
    background-color: #444CE7
}

.zwc-nav-box:nth-child(5) {
    background-color: #DD2590
}

.zwc-nav-box:nth-child(6) {
    background-color: #0086C9
}

.zwc-nav-box:nth-child(7) {
    background-color: #E04F16
}

.zwc-nav-box:nth-child(8) {
    background-color: #CA8300
}

.testimonials-section .content-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.testimonials-section {
    padding: 90px 0px;
}

.testimonials-section .content-wrap h {
    font-size: 35px;
    line-height: 50px;
    color: var(--primary-font-color);
    font-family: var(--primaryfont-semibold);
    margin: 0px 0px 15px;
}

.testimonials-section .content-wrap a {
    background-image: linear-gradient(47deg, #000000 0%, var(--primary-color) 0%, var(--secondary-color) 60%);
    background-clip: text;
    color: transparent;
    font-size: 22px;
    font-family: var(--primaryfont-semibold);
    line-height: 35px;
    display: flex;
    align-items: center;
}

.testimonials-section .content-wrap a .arrow {
    border-style: solid;
    border-width: 0 3px 3px 0;
    border-color: var(--secondary-color);
}


.testimonials-section .profile-wrappper {
    display: flex;
    gap: 15px;
}

.testimonials-section .profile-wrappper>div>img {
    width: 58px;
    height: 58px;
    object-fit: cover;
    border-radius: 50%;
    max-width: unset;
}

.testimonials-section .profile-wrappper>div>h6 {
    color: var(--secondary-font-color);
    font-size: 20px;
    margin: 0 0 8px;
    font-family: var(--primaryfont-semibold);
}

.testimonials-section .profile-wrappper>div>.designation {
    font-size: 17px;
    font-family: var(--primaryfont-regular);
    color: var(--secondary-font-color);
}

.testimonials-section .descriptions-wrapper {
    background: #ffffff63;
    backdrop-filter: blur(13px);
    padding: 30px 30px;
    border: 1px solid #ffffff63;
    margin-top: 50px;
}

.reported-section .content-wrap.animated .anim-star.svg-sprites.four_half1 {
    width: 90%;
}

.testimonials-section .descriptions-wrapper p {
    font-size: 17px;
    color: var(--secondary-font-color);
    line-height: 25px;
}


/* Analysts section styles */
.read-more-link {
    display: block;
    max-width: max-content;
    position: relative;
    color: var(--secondary-font-color);
    font-family: var(--zf-secondary-medium);
    padding-right: 35px;
    text-decoration: underline;
}

.reported-section .report-slider {
    background-color: var(--primary-font-color);
    color: var(--secondary-font-color);
    padding: 40px 50px;
    width: 55%;
    margin: 0;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.report-section .slick-dots {
    text-align: left;
    padding-top: 30px
}

.report-section .slick-dots li {
    background: #e0e0e0
}

.slick-dots li.slick-active:before {
    background: #f70011 !important;
}

@keyframes progresswidth {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

.slick-dots li {
    width: 20px;
    border-radius: 5px;
    background: #e0e0e0;
    height: 8px;
    border: 0;
    position: relative
}

.slick-dots li.slick-active {
    width: 35px;
    height: 8px;
    border: 0;
    background: #e0e0e0
}

.report-slider .slick-dots {
    text-align: left;
}

.slick-dots li.slick-active:before {
    animation: progresswidth 6s linear forwards;
    content: "";
    width: 40px;
    left: 0;
    position: absolute;
    background: #000;
    opacity: 1;
    height: 8px;
    border-radius: 5px
}

.report-slider .aem-report h5 {
    font-size: 35px;
    font-family: var(--primaryfont-semibold);
    line-height: 45px;
}

.report-slider .aem-report p {
    font-size: 17px;
    line-height: 27px;
    font-family: var(--primaryfont-regular);
}

.reported-section .content-wrap {
    display: flex;
    gap: 20px;
}

.reported-section .content-wrap .trust-section {
    width: 40%;
    height: 690px;
    overflow: auto;
    scrollbar-width: none;
}

.rating-sec {
    width: 100%;
    display: flex;
    align-items: center;
}

.rating-table {
    margin: 0px auto 0;
    border: unset;
    padding: 0px 10px;
}

.rating-sec:nth-child(1),
.rating-sec:nth-child(2),
.rating-sec:nth-child(3),
.rating-sec:nth-child(4),
.rating-sec:nth-child(5),
.rating-sec:nth-child(6),
.rating-sec:nth-child(7),
.rating-sec:nth-child(8),
.rating-sec:nth-child(9) {
    border: unset;
    box-shadow: 1px 1px 11px 0px #174aa81c;
    margin-bottom: 10px;
    border-radius: 9px;
}

.rating-txt span {
    font-size: 24px;
}

.pre-banner-section {
    padding: 90px 0;
    text-align: center;
    background: #f8f9fc;
    margin: 40px 0px;
}

.pre-banner-section .content-wrapper h2 {
    font-size: 38px;
    color: var(--primary-font-color);
    font-family: var(--primaryfont-bold);
    margin: 0px 0px 25px;
    line-height: 1.25;
}

/*faq-section*/
.common-section.faq-section {
    padding-top: 0;
}

.faq-section .content-wrap {
    max-width: 940px;
}

.faq-section h2 {
    font-family: var(--primaryfont-bold);
    text-align: center;
}

.i18n-en .faq-section h2 {
    font-size: 32px;
}

.z-accordian {
    text-align: left;
    margin-top: 70px;
}

.z-accordianBox {
    border-bottom: 1px solid #ccc;
}

.z-accordianBox h4 {
    margin: 0;
    padding: 25px 0 25px 0;
    position: relative;
    cursor: pointer;
    font-size: 18px;
}

.z-accordianBox h4.active {
    color: #000;
}

.z-accordianBox h4:before {
    content: "+";
    position: absolute;
    top: 0;
    right: 30px;
    bottom: 0;
    font-size: 18px;
    font-weight: 600;
    height: 25px;
    margin: auto;
}

.z-accordianBox h4.active:before {
    content: "-";
    right: 32px;
}

.z-accordianBox>ul {
    padding: 0 40px 25px 0;
    display: none;
}

.z-accordianBox>ul>li {
    position: relative;
}

.faq-section {
    padding: 20px 0px 90px;
}


/* onscoll animation */

.scroll-section h2.zwe-om,
.box-icon-section.zwe-om .content-main .card,
.icon-border-section.zwe-om .content-main .card {
    transform: translateY(0);
    opacity: 1;
}

.box-icon-section .content-main .card:nth-child(2),
.box-icon-section .content-main .card:nth-child(5),
.icon-border-section .content-main .card:nth-child(2) {
    transition-delay: .2s;
}

.box-icon-section .content-main .card:nth-child(3),
.box-icon-section .content-main .card:nth-child(6),
.icon-border-section .content-main .card:nth-child(3) {
    transition-delay: .4s;
}

.market-list li {
    list-style: disc;
    margin-top: 10px;
    margin-left: 15px
}


@media only screen and (max-width :1366px) {
    .za-cust-counts ul>li>span {
        font-size: 42px;
        line-height: 42px
    }
    .image-wrapper {
        height: auto;
    }
}

@media (max-width: 1200px) {

    .box-icon-section .content-main .card,
    .icon-border-section .content-main .card {
        width: 45%;
    }

    .scroll-section h2,
    .box-icon-section h3,
    .box-icon-section .heading-desc,
    .icon-border-section .heading-desc {
        width: 100%;
    }

    .icon-border-section .content-main .card::before {
        left: 232px;
    }

    .zwc-nav-box {
        padding: 30px
    }
}

@media (max-width: 1080px) {
    .scroll-section .scroll-images {
        display: none;
    }

    .scroll-wrapper {
        justify-content: center;
        max-width: 100%;
        margin: 70px auto 0px;
    }

    .scroll-section .sections-container {
        width: 90%;
        text-align: center;
    }

    .sections {
        padding-right: 0px;
        margin: 0px 0px 50px;
        opacity: 1;
        transform: unset;
        filter: brightness(1);
    }

    .scroll-wrapper .scroll-image-wrapper {
        display: block;
        margin-top: 20px;
        border-radius: 8px;
        background-image: url(/sites/zweb/images/analytics/integrate-bg.png);
        padding: 10px;
    }

    .sections.fade-in {
        transform: unset;
        filter: brightness(1);
    }
}

@media only screen and (max-width:991px) {

    .scroll-section,
    .icon-border-section {
        background-image: unset;
    }

    .icon-border-section {
        background-color: var(--primary-font-color);
    }

    .icon-border-section .content-main .card,
    .reported-section .report-slider,
    .reported-section .content-wrap .trust-section,
    .pre-banner-section .content-wrapper {
        width: 100%;
    }

    .icon-border-section .content-main .card::before {
        left: 47%;
    }

    .pre-banner-section .content-wrap {
        padding-left: 0px;
    }

    .icon-border-section .content-main .card {
        margin-top: 20px;
    }

    .testimonials-section .content-wrap,
    .pre-banner-section .content-wrap,
    .reported-section .content-wrap {
        flex-wrap: wrap;
    }

    .reported-section .content-wrap .trust-section {
        height: auto;
    }
}


@media only screen and (max-width:767px) {
    .read-more-link {
        margin-left: 0
    }

    .za-cust-counts ul>li>span {
        font-size: 38px;
        line-height: 38px
    }

    .za-cust-counts ul>li p {
        font-size: 17px
    }
}

@media only screen and (max-width:565px) {

    .box-icon-section .content-main .card,
    .icon-border-section .content-main .card {
        width: 100%;
    }

    .banner-section .content-wrap h1 {
        font-size: 36px;
        line-height: 43px;
    }

    .scroll-section h2,
    .box-icon-section h2,
    .icon-border-section h2,
    .testimonials-section .content-wrap h2,
    .report-slider .aem-report h5 {
        font-size: 25px;
        line-height: 33px;
        width: 100%;
    }

    .scroll-wrapper h3 {
        font-size: 20px;
        line-height: 29px;
    }

    .scroll-wrapper p {
        font-size: 16px;
        line-height: 27px;
    }

    .sections {
        margin: 0 0 30px;
    }

    .box-icon-section {
        padding: 50px 0;
    }

    .box-icon-section .content-main,
    .icon-border-section .content-main {
        margin-top: 40px;
    }

    .scroll-section {
        padding: 10px 0 0px;
    }

    .icon-border-section .content-main {
        margin-top: 65px;
    }

    .scroll-wrapper {
        margin: 20px auto 0;
    }

    .icon-border-section .heading-desc {
        font-size: 17px;
        line-height: 26px;
    }

    .icon-border-section .content-main .card::before {
        left: 43%;
    }

    .reported-section .report-slider {
        padding: 30px 20px;
    }

    .pre-banner-section .content-wrapper h3 {
        font-size: 30px;
    }

    .pre-banner-section {
        padding: 45px 0;
    }

    .za-cust-counts ul>li>span {
        font-size: 30px;
        line-height: 30px
    }

    .za-cust-counts ul>li p {
        font-size: 14px
    }

    .za-cust-counts ul {
        margin: 14px auto 45px;
    }

    .pre-banner-section .content-wrapper h2 {
        font-size: 30px;
    }
}